<h1>Lista de Productos</h1>

{{#if products.length}}
    <ul>
        {{#each products}}
            <li>{{this.title}} - ${{this.price}}</li>
        {{/each}}
    </ul>
{{else}}
    <p>No hay productos cargados.</p>
{{/if}}

<a href="/products">
    <button>Comprar productos</button>
</a>