<h1>Productos en Tiempo Real</h1>

<form id="productForm">
    <input type="text" id="title" placeholder="Titulo" required></input>
    <input type="number" id="price" placeholder="Precio" required></input>
    <button type="submit">Agregar</button>
</form>

<ul id="productList"></ul>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/realtime.js"></script>